.app-container {

  display: flex;
  flex-direction: column;
  background-color: rgb(69, 115, 153);
  width: 500px;
  height: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 30px;
  background-color: rgb(52, 67, 80);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.step-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  border: none;
}